.dayOfWeek {
  text-align: center;
  color: var(--clr-b-100);
  margin-bottom: 8px;
}

.containerDayOfMonthAndMonth {
  width: 100%;

  background-color: var(--clr-hyper);
  color: var(--clr-b-1);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 4px 0;
  border-radius: 8px 8px 0 0;

  h6 {
    color: var(--clr-b-1);
    font-weight: 600;
  }
}
