.row {
  background-color: transparent;

  td {
    box-sizing: content-box;
    padding-right: 86px;
    padding-bottom: 20px;

    &:first-child {
      border-radius: 4px 0 0 4px;
      padding: 0px 86px 20px 30px;
      width: 360px;
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: 77px;
      text-align: center;
    }

    &:last-child {
      border-radius: 0 4px 4px 0;
      padding-right: 61px;
    }

    h5 {
      color: var(--clr-b-90);
      font-weight: 600;
    }
  }
}
